<!DOCTYPE html>
<html>
<head>

<title>Faculty Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<!-- ICONS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<!-- NAVBAR -->
<div class="navbar">
<h2>Smart Attendance</h2>
<a href="/logout">Logout</a>
</div>


<!-- SIDEBAR -->
<div class="sidebar">

<a href="/faculty_dashboard">
<i class="fa-solid fa-chart-line"></i> Dashboard
</a>

<a href="#" onclick="generateQR()">
<i class="fa-solid fa-qrcode"></i> Generate QR
</a>

<a href="#attendance">
<i class="fa-solid fa-users"></i> Live Attendance
</a>

<a href="/face_dataset">
<i class="fa-solid fa-database"></i> Face Dataset
</a>

</div>


<!-- MAIN CONTENT -->
<div class="main">

<h2>Faculty Dashboard</h2>


<!-- DASHBOARD CARDS -->
<div class="cards">

<div class="card">
<i class="fa-solid fa-user-check card-icon"></i>
<h3 id="count">0</h3>
<p>Today's Attendance</p>
</div>

<div class="card">
<i class="fa-solid fa-qrcode card-icon"></i>
<h3>QR</h3>
<p>Generate Attendance QR</p>
</div>

</div>


<!-- GENERATE QR -->
<button onclick="generateQR()" class="btn">
<i class="fa-solid fa-qrcode"></i> Generate QR
</button>

<br><br>

<img id="qrImage" width="220" style="display:none;">

<p id="timer"></p>


<h3 id="attendance">Live Attendance</h3>

<table>

<thead>
<tr>
<th>Name</th>
<th>Roll</th>
<th>Time</th>
</tr>
</thead>

<tbody id="attendanceTable">
</tbody>

</table>

</div>


<script>

let countdown;


// Generate QR
function generateQR(){

document.getElementById("timer").innerText="Generating QR..."

fetch("/generate_qr")

.then(res=>res.json())

.then(data=>{

document.getElementById("qrImage").src=data.qr
document.getElementById("qrImage").style.display="block"

let time=data.expires

clearInterval(countdown)

countdown=setInterval(()=>{

time--

document.getElementById("timer").innerText="QR expires in "+time+" seconds"

if(time<=0){

clearInterval(countdown)

document.getElementById("timer").innerText="QR Expired"

}

},1000)

})

}


// Load Attendance
function loadAttendance(){

fetch("/live_attendance")

.then(res=>res.json())

.then(data=>{

let table=""

data.forEach(student=>{

table+=`
<tr>
<td>${student.name}</td>
<td>${student.roll}</td>
<td>${student.time}</td>
</tr>
`

})

document.getElementById("attendanceTable").innerHTML=table

document.getElementById("count").innerText=data.length

})

}


// Refresh attendance every 3 seconds
setInterval(loadAttendance,3000)

loadAttendance()

</script>

</body>
</html>